/*# sourceMappingURL=style.css.map */
body{
    background: #EEEEEA;
    font-family: Arial, Helvetica, sans-serif;
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.logo{
    
    display: flex;
    justify-content: space-around;

}
.logo .nav{
    display: flex;
    align-items: flex-start;
}
.logo .nav li {
    list-style-type: none;
    display: flex;
    margin-left: 75px;
    text-decoration: none;
}
.nav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.logo_button{
    background: black;
    border-radius: 15px;
    height: 57px;
    color: white;
    margin-right: 75px;
    padding: 15px 25px 15px 25px;
    font-size: 18px;

}
img .logo{
    height: 37px;
    width:132px ;
}
.header_1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    margin-top: 130px;
}
.header_1 h1{
    width: 70%;
    text-align: center;
    font-weight: 400;
}
.turn_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    font-size: 20px;
   

}
.turn_button button{
    display: flex;
    background: greenyellow;
    border-radius: 25px;
    width: 100px;
    border: none;
    margin-left: 40px;
}
.people{
    display: flex;
    align-items: center;
    justify-content: center;
}
.simple{
    display: flex;
    justify-content: center;

}
.simple_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.simple_text h1{
    width: 60%;
    font-size: 43px;
}
.simple_text h3{
    width: 60%;
    font-size: 12px;
}
.simple_text p{
    width: 60%;
    font-size: 15px;
    color: grey;
}
.into{
    display: flex;
    color: grey;
    font-size: 15px;
    justify-content: center;
    margin-top: 68px;
}
.creat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
 
}
.creat_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.creat_text h1{
    width: 60%;
    font-size: 43px;
}
.creat_text h3{
    width: 60%;
    font-size: 18px;
    margin-bottom: 40px;
}
.creat_text p{
    width: 60%;
    font-size: 12px;
    margin-bottom: 30px;
}
.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    flex-direction: column;
    width: 60%;

}
.flex p{
    font-size: 13px;
}
.flex h1{
    font-size: 43px;
}
.logo_company1{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_company2{
    display: flex;
    justify-content: center;
    align-items: center;
}
